<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jm.dao.JurisdictionDao">
	
	<!-- 开启二级缓存 -->
	<cache></cache>
	
	<!-- 获取所有权限 -->
	<select id="getAll" resultType="Jurisdiction">
		SELECT * FROM JURISDICTION
	</select>
	
	<!-- 获取所有的一级导航 -->
	<select id="getParentNode" resultType="Jurisdiction">
		SELECT * FROM JURISDICTION WHERE J_IS_PARENT = 1;
	</select>
	
	<!-- 获取所有的一级导航的二级导航 -->
	<select id="getChildrenNode" resultType="Jurisdiction">
		SELECT * FROM JURISDICTION WHERE J_PARENT = #{jParent};
	</select>
</mapper>